<div class="row">
    <div class="container">
        <h3>Write Comments here...</h3>
    </div>

    <form class="container">
        <textarea class="form-control" rows="3" name="comment" [(ngModel)]="comment"
            placeholder="Please enter your comment">

        </textarea>
        <button class="btn btn-outline-primary mt-1" (click)="Submit()">Submit</button>
    </form>

    <div class="">
        <div class="row" *ngFor="let comment of comments; let i = index">
            <div class="col-lg-11" *ngIf="!editComment[i]"><i class="fa fa-user-circle-o mr-1"></i>{{comment.comment}}</div>
            <div class="col-lg-11" *ngIf="editComment[i]">
                <textarea class="form-control" rows="2" name="comment" [(ngModel)]="editCommentValue"></textarea>
                <button class="btn btn-outline-primary mt-1" (click)="cancelEditComment(i)">Cancel</button>
                <button class="btn btn-outline-primary mt-1" (click)="updateComment(comment.id)">Update</button>
            </div>
            <div ngbDropdown *ngIf="!editComment[i]" class="col-lg-1">
                <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="editCommentFn(i, comment.comment)">Edit</button>
                    <button ngbDropdownItem (click)="deleteCommentFn(comment.comment)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>